<h1>Редактировать {{auto.title}}</h1>

<form action="/autos/edit" method="POST">
 <div class="input-field">
    <input id="title" name="title" type="text" class="validate" required value="{{auto.title}}">
    <label for="title">Название авто</label>
    <span class="helper-text" data-error="введите название"></span> 
 </div>

 <div class="input-field">
    <input id="price" name="price" type="number" class="validate" required min="1" value="{{auto.price}}">
    <label for="price">Цена авто</label>
    <span class="helper-text" data-error="введите название"></span>
 </div>

 <div class="input-field">
    <input id="img" name="img" type="text" class="validate" required value="{{auto.img}}">
    <label for="img">URL картинки</label>
    <span class="helper-text" data-error="введите название"></span>
 </div>
 
 <input type="hidden" name="id" value="{{auto.id}}">
 <button class="btn btn-primary">Редактировать авто</button>
</form>